.sec1-article {
  font-weight: 800;
}

.sec1-article-top {
  font-size: 20px;
}

.sec1-article-title {
  font-size: 40px;
  margin: 0 0 40px;
}

.info {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 24px;
}

.info-img {
  width: 21px;
  height: 21px;
}

.info-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info-title {
  font-size: 20px;
  font-weight: 800;
}

.info-main {
  margin: 0;
  color: rgb(93, 114, 128);
}

.follow-img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  margin: 0 24px 0 0;
}
