.article-title{
    font-size: 40px;
    font-weight: 800;
}

.article-header{
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

.article-main{
    color: rgb(93, 114, 128);
    font-size: 20px;
    margin: 0 0 24px;
    font-weight: 400;
}